<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.user.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadUser</servlet-name>
  	<display-name>UploadUser</display-name>
  	<description></description>
  	<servlet-class>com.user.UploadUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<display-name>Signup</display-name>
  	<description></description>
  	<servlet-class>com.doctor.Signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginDc</servlet-name>
  	<display-name>LoginDc</display-name>
  	<description></description>
  	<servlet-class>com.doctor.LoginDc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadDoc</servlet-name>
  	<display-name>UploadDoc</display-name>
  	<description></description>
  	<servlet-class>com.doctor.UploadDoc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadReport</servlet-name>
  	<display-name>UploadReport</display-name>
  	<description></description>
  	<servlet-class>com.lab.UploadReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginLab</servlet-name>
  	<display-name>LoginLab</display-name>
  	<description></description>
  	<servlet-class>com.lab.LoginLab</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<display-name>AddProduct</display-name>
  	<description></description>
  	<servlet-class>product.AddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpProduct</servlet-name>
  	<display-name>UpProduct</display-name>
  	<description></description>
  	<servlet-class>product.UpProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updoctor</servlet-name>
  	<display-name>updoctor</display-name>
  	<description></description>
  	<servlet-class>upadmin.updoctor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadUser</servlet-name>
  	<url-pattern>/UploadUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginDc</servlet-name>
  	<url-pattern>/LoginDc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadDoc</servlet-name>
  	<url-pattern>/UploadDoc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadReport</servlet-name>
  	<url-pattern>/UploadReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginLab</servlet-name>
  	<url-pattern>/LoginLab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProduct</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpProduct</servlet-name>
  	<url-pattern>/UpProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updoctor</servlet-name>
  	<url-pattern>/updoctor</url-pattern>
  </servlet-mapping>
</web-app>
